# Database
DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/mealstack"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-secure-secret-min-32-chars"

# Stripe
NEXT_PUBLIC_STRIPE_KEY="pk_test_..."
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# Stripe Price IDs
STRIPE_PRICE_STARTER="price_..."
STRIPE_PRICE_PROFESSIONAL="price_..."
STRIPE_PRICE_ENTERPRISE="price_..."

# Socket.io
SOCKET_URL="http://localhost:4001"
SOCKET_PORT=4001
